html {
    background: black;
    color: white;
    font-size: 3rem;
}

p {
color: pink;
background: blue;
border-radius: 10rem;
display: inline-block;
padding: 0.5rem;
}
.square {
    height: 3rem;
    width: 3rem;
    background: rgb(255, 0, 242);
    position: fixed;
}
#square1 {
    top: 0;
    right: 0;
}
#square2 {
    top: 0;
    right: 3rem;
}